language: android
before_install:
  - yes | sdkmanager "platforms;android-27"
android:
  components:
    - build-tools-27.0.1
    - android-27
  licenses:
    - 'android-sdk-license-.+'
before_script:
  - chmod +x gradlew
script:
  - ./gradlew testDevDebug
stages:
  - compile
  - test
  - deploy
jobs:
  include:
    - stage: compile
      script: ./compile
    - stage: deploy
      script: ./deploy